<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <figure>
      <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1><%= title %></h1>
    <p>Bienvenidos a <%= title %></p>
    <p><a href="/movies">Lista de películas</a></p>   
    <p><a href="/genres">Géneros de películas</a></p>
    <p><a href="/actors">Actores de películas</a></p>
    <p><a href="/actors/detail/1">Detalles actores de películas</a></p>
  </body>
</html>
